{
  "rules": {
    "no-underscore-dangle": 0,
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "class-methods-use-this": "off",
    "no-multi-str": 0,
    "indent": ["warn", 2],
    "arrow-parens": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "arrow-body-style": "off",
    "function-paren-newline": "off",
    "no-console": "off"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ]
}
